<div class="photo-container-nested">
  <article class="photo-card-small">
    <div class="nesting">
      <img src="{{source2}}" alt="{{alt2}}">
    </div>
  </article>

  <article class="photo-card-small">
    <div class="nesting">
      <img src="{{source3}}" alt="{{alt3}}">
    </div>
  </article>
</div>

<article class="photo-card-big">
  <div class="nesting">
    <img src="{{source1}}" alt="{{alt1}}">
  </div>
</article>
